.myinline {
    display: inline-block;
}
.fix{
  text-align: right;
}
li{
  font-size: 1.4em;
}
textarea {
    resize: none;
    overflow: hidden;
    min-height: 60px;
    max-height: 500px;
}
.mycheckbox{
  margin-left: 1em;
}
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  height: 100%;

  background: url('/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.content {
  left: 0;
  right: 0;
  z-index: 0;
}
.jumbotron{
  background: rgba(238, 238, 238, 0.7);
  text-align: center;
}
.link a{
    color: #ae0015 !important;
}
.link a:hover {
    color: #790312 !important;
}
.btn-wide{
  background: rgba(255, 255, 255, 0.85);
  min-height: 3em;
  width: 100%;
  height: 9vh;
  font-size: 200%;
}
.btn-wide:hover{
  background: rgba(217, 217, 217, 0.85);
  min-height: 3em;
  width: 100%;
  height: 9vh;
  font-size: 200%;
}

.content{
  margin-top: auto;
  margin-bottom: auto;
}
.cback{
  padding: 2em;
  height: 100vh;
  padding-bottom: 8em;
  background: rgba(255, 255, 255, 0.85);
}
hr{
  background: rgba(238, 238, 238, 0.85);
}
.cback li{
  font-size: 2vmin;
}
.cback a{
  font-size: 1.4vmin;
}
