<div class="jumbotron">
<h1>$category.getName()</h1>
</div>
<div class="container cback">

<h2>Recipe</h2>
<ul>
 #foreach($recipe in $category.getRecipes())
  <li><a href="/recipes/$recipe.getId()">$recipe.getName()</a></li>
#end
</ul>
</div>
