<div class="jumbotron">
<h1>Recipe Box</h1>
</div>
<div class="container">

<div class="row">
<a href="/categories">
<div class="col-md-5"
<p>View Categories</p>
</div>
</a>
<div class="col-md-2">
</div>
<a href="/recipes/new">
<div class="col-md-5">
<p>Add a Recipe</p>
</div>
</a>
</div>
