<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <script type="text/javascript">
       function auto_grow(element) {
          element.style.height = "5px";
          element.style.height = (element.scrollHeight)+"px";
        }
    </script>
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
